/****** General Styles ******/

AppMainWindow QPushButton 
{
	/*border: 1px solid gray;*/
	background-color: rgb(230,230,230);
	border-left: 1px solid rgb(200,200,200);
	border-top: 1px solid rgb(200,200,200);
	border-right: 1px solid rgb(60,60,60);
	border-bottom: 1px solid rgb(60,60,60);
}


AppMainWindow QPushButton:pressed 
{
	/*border: 2px solid gray;*/
	border-left: 1px solid rgb(60,60,60);
	border-top: 1px solid rgb(60,60,60);
	border-right: 1px solid rgb(200,200,200);
	border-bottom: 1px solid rgb(200,200,200);
}

AppMainWindow QPushButton:checked
{
	border: 1px solid gray;
	border-left: 1px solid rgb(60,60,60);
	border-top: 1px solid rgb(60,60,60);
	border-right: 1px solid rgb(200,200,200);
	border-bottom: 1px solid rgb(200,200,200);
}
/****** MainToolbar Styles ******/

MainToolbar QPushButton[flat="true"] 
{
	border:0px;
}


/****** ExpandablePanel Styles ******/

ExpandablePanel 
{
	background:rgb(240,240,240);
}

ExpandablePanel QGroupBox 
{
	margin-top: 1.5ex; 
	border: 1px solid gray; 
	border-radius: 0px;
}
		
ExpandablePanel QGroupBox::title 
{
	subcontrol-origin: margin; 
	left: 10px; 
	padding: 0px 3px;
}
		
ExpandablePanel QPushButton[flat="true"] 
{
	border: 1px solid rgb(60,60,60);
	image:url(:/AppMainWindow/images/TextureBox.bmp)
}

ExpandablePanel QPushButton[flat="true"]:pressed
{
	border: 2px solid rgb(60,60,60);
	image:url(:/AppMainWindow/images/TextureBox.bmp)
}

ExpandablePanel TitleLabel
{
	background:rgb(219, 219, 219);
	border-bottom:1px solid rgb(185,185,185);
}