AppMainWindow *
{
	background-color:rgb(68,68,68); color:rgb(200,200,200);
	font-family:"Segoe UI"; font-size:12px;
}

AppMainWindow::separator
{
	background-color: rgb(68, 68, 68);

	/*trick: qdockwidget stylesheet seems to have bugs, use the separator border*/
	
	border-right-width: 2px;
	border-image: url(:/AppMainWindow/images/DarkBorder.png) 2; 
}

AppMainWindow::separator:hover
{
	background-color: #666666;
}

AppMainWindow QDockWidget::title
{
	text-align: center;
	/*
	border-top-color: rgb(45,45,45);
	border-top-width: 2px;
	 border-top-style: groove;
	*/
	
	background-color: rgb(68,68,68);
	border-width: 2px;
	border-image: url(:/AppMainWindow/images/DarkBorder.png) 2; 
	 
}

AppMainWindow QTextBrowser
{
	/*
	border-width: 1px;
	border-image: url(:/AppMainWindow/images/DarkBorder.png) 2;
	*/
	border: 1px solid gray;
	background-color:rgb(40,40,40);
}

AppMainWindow QCheckBox::indicator::unchecked
{
	background-color:rgb(40,40,40);
}

AppMainWindow QCheckBox::indicator::checked
{
	image:url(:/AppMainWindow/images/CheckBox.png);
}

AppMainWindow QPushButton 
{
	border: 1px solid gray;
}

AppMainWindow QPushButton:pressed 
{
	border: 2px solid rgb(118,185,0);
	/*background-color: rgb(118,185,0);*/
}

AppMainWindow QPushButton:checked
{
	border: 2px solid rgb(118,185,0); 
	/*background-color: rgb(118,185,0);*/
}

/****** QScrollbar Styles ******/
AppMainWindow QScrollBar:vertical 
{
	width: 22px;
	/*
	border-width: 2px;
	border-image: url(:/AppMainWindow/images/DarkBorder.png) 2;
	*/
	border: 1px solid rgb(40,40,40);
	margin: 20px 1px 20px 0px;
}

AppMainWindow QScrollBar::handle:vertical 
{
	border-top: 1px solid rgb(40,40,40);
	border-bottom: 1px solid rgb(40,40,40);
	background: qlineargradient(x1:0, y1:0, x2:1, y2:0,
                 stop:0 rgb(116,116,116), stop: 1 rgb(95,95,95));
	min-height: 20px;
}

AppMainWindow QScrollBar::add-line:vertical 
{
	border: 1px solid rgb(40,40,40);
	background: qlineargradient(x1:0, y1:0, x2:1, y2:0,
                 stop:0 rgb(116,116,116), stop: 1 rgb(95,95,95));

	margin-right: 1px;
	margin-bottom: 1px;
	height: 18px;
	subcontrol-position: bottom;
	subcontrol-origin: margin;
}

AppMainWindow QScrollBar::sub-line:vertical 
{
	margin-top: 1px;
	margin-right: 1px;
	border: 1px solid rgb(40,40,40);
	background: qlineargradient(x1:0, y1:0, x2:1, y2:0,
                 stop:0 rgb(116,116,116), stop: 1 rgb(95,95,95));
	height: 18px;
	subcontrol-position: top;
	subcontrol-origin: margin;
}

QScrollBar::up-arrow:vertical
{
	image: url(:/AppMainWindow/images/ArrowUp.png);
}

QScrollBar::up-arrow:vertical:pressed
{
	top: 1px;
}

QScrollBar::down-arrow:vertical 
{
	image: url(:/AppMainWindow/images/ArrowDown.png);
}

QScrollBar::down-arrow:vertical:pressed
{
	top: 1px;
}

AppMainWindow QScrollBar::add-page:vertical, QScrollBar::sub-page:vertical 
{
    background: none;
}

/****** ListWidget Styles ******/
AppMainWindow QListWidget {
	alternate-background-color: yellow;
     border: 1px solid gray;
     border-radius: 0px;
 }

AppMainWindow QListWidget {
     show-decoration-selected: 1; /* make the selection span the entire width of the view */
 }

 AppMainWindow QListWidget::item:alternate {
     background: #EEEEEE;
 }

 AppMainWindow QListWidget::item:selected {
     border: 1px solid #6a6ea9;
 }

 AppMainWindow QListWidget::item:selected:!active {
     background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
                                 stop: 0 #00aa00, stop: 1 #00dd00);
 }

 AppMainWindow QListWidget::item:selected:active {
     background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
								stop: 0 #00aa00, stop: 1 #00dd00);
 }

 AppMainWindow QListWidget::item:hover {
     background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
                                 stop: 0 #DDFFDD, stop: 1 #CCFFCC);
 }

 /****** TreeView Styles ******/
AppMainWindow QTreeView {
	alternate-background-color: yellow;
     border: 1px solid gray;
     border-radius: 0px;
 }

AppMainWindow QTreeView {
     show-decoration-selected: 1; /* make the selection span the entire width of the view */
 }

 AppMainWindow QTreeView::item:alternate {
     background: #EEEEEE;
 }

 AppMainWindow QTreeView::item:selected {
     border: 1px solid #6a6ea9;
 }

 AppMainWindow QTreeView::item:selected:!active {
     background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
                                 stop: 0 #00aa00, stop: 1 #00dd00);
 }

 AppMainWindow QTreeView::item:selected:active {
     background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
								stop: 0 #00aa00, stop: 1 #00dd00);
 }

 AppMainWindow QTreeWidget::item:hover {
     background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
                                 stop: 0 #DDFFDD, stop: 1 #CCFFCC);
 }
 
/****** ComboBox Styles ******/
AppMainWindow QComboBox {
     border: 1px solid gray;
     border-radius: 0px;
 }

AppMainWindow QComboBox QAbstractItemView 
{
	background-color: rgb(68,68,68);
    selection-background-color: rgb(118,185,0);
}
 
 AppMainWindow QComboBox::drop-down {
     subcontrol-origin: padding;
     subcontrol-position: top right;
     /*width: 15px;*/

     border-left-width: 1px;
     border-left-color: gray;
     border-left-style: solid; 

 }

AppMainWindow QComboBox::down-arrow {
     image: url(:/AppMainWindow/images/ArrowDown.png);
 }

AppMainWindow QComboBox::down-arrow:on { 
     top: 1px;
 
 }

/****** QTabWidget Styles ******/
AppMainWindow QTabWidget::pane  
{ 
	/* The tab widget frame */
    border-top: 0px solid transparent;
	
}

AppMainWindow QTabWidget::tab-bar  
{
    left: 5px;
}

AppMainWindow QTabBar::tab  {
	margin-top: 1px;
    background-color: rgb(68,68,68);
    border: 1px solid gray;
    border-bottom-color: rgb(68,68,68); /* same as the pane color */
    min-width: 10ex;
    padding: 2px 8px;
}

AppMainWindow QTabBar::tab:selected  
{
    background-color: #666666;
    border-color: gray;
    border-bottom-color: transparent;
}

AppMainWindow QTabBar::tab:!selected  {
    margin-top: 3px; /* make non-selected tabs look smaller */
}

/****** Spin And DoubleSpin Styles ******/

AppMainWindow QDoubleSpinBox
 {
	border: 1px solid gray;
	background-color: rgb(40,40,40);
 }

AppMainWindow QSpinBox
 {
	border: 1px solid gray;
	background-color: rgb(40,40,40);
 }

AppMainWindow QSpinBox::up-button
{
	background-color:rgb(68,68,68);
	border: 1px solid gray;
	margin-top: 1px;
	margin-right: 1px;
}

AppMainWindow QSpinBox::up-button:pressed  {
    border: 1px solid rgb(118,185,0);
}

AppMainWindow QSpinBox::down-button
{
	background-color:rgb(68,68,68);
	border: 1px solid gray;
	margin-bottom: 1px;
	margin-right: 1px;
}

AppMainWindow QSpinBox::down-button:pressed  {
    border: 1px solid rgb(118,185,0);
}

AppMainWindow QSpinBox::up-arrow
{
    image: url(:/AppMainWindow/images/ArrowUp.png);
    width: 4px;
}
AppMainWindow QSpinBox::down-arrow
{
    image: url(:/AppMainWindow/images/ArrowDown.png);
    width: 4px;
}

AppMainWindow QDoubleSpinBox::up-button
{
	background-color:rgb(68,68,68);
	border: 1px solid gray;
	margin-top: 1px;
	margin-right: 1px;
}

AppMainWindow QDoubleSpinBox::up-button:pressed  {
    border: 1px solid rgb(118,185,0);
}

AppMainWindow QDoubleSpinBox::down-button
{
	background-color:rgb(68,68,68);
	border: 1px solid gray;
	margin-bottom: 1px;
	margin-right: 1px;
}

AppMainWindow QDoubleSpinBox::down-button:pressed  {
    border: 1px solid rgb(118,185,0);
}

AppMainWindow QDoubleSpinBox::up-arrow
{
    image: url(:/AppMainWindow/images/ArrowUp.png);
    width: 4px;
}

AppMainWindow QDoubleSpinBox::down-arrow
{
    image: url(:/AppMainWindow/images/ArrowDown.png);
    width: 4px;
}

AppMainWindow QDoubleSpinBox::disabled
{
	background-color:rgb(32,32,32);
	color:rgb(68,68,68);
	border: 1px solid rgb(68,68,68);
}

AppMainWindow QDoubleSpinBox::up-button:disabled  {
    border: 1px solid rgb(68,68,68);
}

AppMainWindow QDoubleSpinBox::down-button:disabled  {
    border: 1px solid rgb(68,68,68);
}

/****** Menu Styles ******/
QMenuBar
{
	border-image: url(:/AppMainWindow/images/DarkBorder.png) 2;
	border-bottom-width: 2px;
}

AppMainWindow QMenuBar::item  
{
    spacing: 3px; /* spacing between menu bar items */
    padding: 1px 4px;
	margin-bottom: 2px;
    background: transparent;
    border-radius: 0px;
}
 
AppMainWindow QMenuBar::item:selected:enabled  { /* when selected using mouse or keyboard */
    background: #666666;
}
 
AppMainWindow QMenuBar::item:pressed:enabled  {
    background: rgb(118,185,0);
}

AppMainWindow QMenu  {
	border: 1px solid rgb(50,50,50);
    
}

AppMainWindow QMenuBar:disabled
{
	color:rgb(0,0,0);
}

AppMainWindow QMenu:disabled
{
	color:rgb(0,0,0);
}

AppMainWindow QMenu::item  {
    padding: 2px 25px 2px 20px;
    border: 1px solid transparent; /* reserve space for selection border */
}
 
AppMainWindow QMenu::item:selected:enabled  {
    border-color: rgb(70,70,70);
    background: rgba(118,185,0, 250);
}
/****** ExpandablePanel Styles ******/

AppMainWindow QGroupBox 
{
	margin-top: 1.5ex; 
	border: 1px solid gray; 
	border-radius: 0px;
}
		
AppMainWindow QGroupBox::title 
{
	subcontrol-origin: margin; 
	left: 10px; 
	padding: 0px 3px;
}
	
/*	
ExpandablePanel QPushButton[flat="true"] 
{
	border-color: rgb(40,40,40);
	image:url(:/AppMainWindow/images/TextureBox.bmp)
}

ExpandablePanel QPushButton[flat="true"]:pressed
{
	margin: 2px;
}
*/

ExpandablePanel TitleLabel
{
	background:rgb(78, 78, 78);
}
